.header-position{
    position: fixed;
    z-index: 999;
}

.link-style{
    display: inline;
    color: white;
    text-decoration: none;
}

.link-style:hover{
    color: white;
}

.navbar {
    background-color: transparent !important;
    z-index: 900;
    /* position: fixed; */
  }