.banner-img-outer{
    width: 100%;
    height: auto;
}

.banner-img{
    background-image: url('../../images/education/edu.jpg');
    height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content{
    padding: 60px 0;
}

.short-line{
    border-top: 2px solid #e03f4d;
    margin-top: 20px;
}

.tf-weight{
    font-size: calc(1.325rem + .9vw);
}

.usf-weight{
    font-size: 17px;
}

.navbar {
    background-color: transparent !important;
    z-index: 900;
  }
  
  .bgimg {
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    background-image: url('https://images.unsplash.com/photo-1473923377535-0002805f57e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d239ac0e409e18cf74ace503c491714f&auto=format&fit=crop&w=1469&q=80');
    
  }